<header>
  <nav class="nav">
    <a class="logo" href="/">
      <img class="logo-mark" src="/images/The Circle of Light Seal - Yellow Transparent.png" alt="Echoes of Elsewhere seal" />
      Echoes of Elsewhere
    </a>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/cast">Meet the Cast</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>
